body{
    background-color: rgb(133, 133, 209);
}
h1{
    color:aquamarine;
}
.info{
    color: rgb(230, 92, 94);
    font-family: 'Arial';
    font-size: 20px;
text-align: center;

    padding: 400px;
    border:30px solid black;
    margin:500px;
    border-radius: 100%;
}